.menu {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.content {
  display: flex;
  flex-flow: wrap row;
}

.link {
  width: 20%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.link:nth-child(5n) {
  padding-right: 0;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 88px;
  vertical-align: top;
  background-color: #fff;

  &:hover {
    box-shadow: 0 6px 16px 0 #d6e0e8;
  }

  >div {
    flex: 1;
  }

  >img,
  >p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.title {
  font-size: 14px;
  color: #3d3d3d;
}

.describe {
  font-size: 12px;
  color: #909090;
}